
.text-uppercase{
    text-transform: uppercase;
}

.mouse-point, .cursor-point{
    cursor: pointer;
}

.center-vertical {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }

  img.img-fluid.logo-inicial {
    width: 60%;
    border-radius: 50%;
}
img.logo-google-play{
    width: 27%; 
}

.tr-total-analise {
    background-color: #fff2ef !important;
}
img.img-reponsive.logo-whats-footer {
    width: 28px; 
}